// $darkGreyBlue: #285e64;
$headingColor: #fdfefa;
$mainText: #643293;
$borders: #4fcadb;
$shadowsBorders: #f390bc;
// $lightBackground: #d3b5d5;
$backgroundTransp: rgba(100, 50, 147, 0.65);


@mixin fontSquare(){
    font-family: 'Nova Square', cursive;
}

@mixin fontRokkit(){
    font-family: 'Rokkitt', serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    @include fontSquare();
    color: $mainText;
    font-size: 2.8rem;
    line-height: 1.3;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

button {
    color: rgb(95, 21, 34);
    padding: 10px 30px;
    text-decoration: none;
    margin: 20px;
}

button:hover, button:focus {
    // background: #1f2022;
    color: #f4f4f4;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    @include fontRokkit();
    color: $headingColor;
    font-size: 10rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}

h2 {
    color: $headingColor;
    font-size: 3.5rem;
}

// Hide or Show
.hide {
    display: none;
}

.show {
    display: block;
}

.hideSubmit {
    visibility: hidden;
}

.showSubmit {
    visibility: visible;
}
