// Header
header {
    background: url(./assets/jeremy-perkins-FsK54FVNRfM-unsplash_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.headerStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 640px;
    height: 100vh;
    padding-bottom: 100px;
}

.headerText {
    text-align: center;
    background-color: $backgroundTransp;
    padding: 5px 30px 60px;
    border-radius: 20px;
}

.shadow {
    margin: 190px 0 100px;
    padding: 30px;
    border-radius: 20px;
    animation: glowing2 2600ms infinite;
}

header img {
    position: absolute;
    width: 50%;
    z-index: 1;
}

.firstImg {
    top: 0;
    left: -5%;
}

.secondImg {
    bottom: 0;
    right: 0;
}

.start {
    margin-bottom: 10px;
}

.startButtonDiv {
    width: 75%;
    display: flex;
    align-items: flex-start;
    z-index: 2;
}

// How to Play?
.howToPlay {
    text-align: right;
}

.howToPlayButton {
    margin-right: -25px;
    margin-bottom: -15px;
    padding: 0;
}

.howToPlayButton i, .close i {
    padding: 5px 20px;
}

.close {
    display: block;
    padding: 0;
    margin-right: -40px;
}

.howToPlayDetails {
    display: none;
    position: absolute;
    background-color: $mainText;
    color: $headingColor;
    font-size: 1.8rem;
    padding: 10px 50px 20px;
    border-radius: 20px;
    border: 5px solid $borders;
    z-index: 3;
    text-align: left;
    min-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.closeButtonDiv {
    display: flex;
    justify-content: flex-end;
}

.howToPlayDetailsShow {
    display: block;
}

.blockView {
    position: absolute;
    height: 100vh;
    min-height: 640px;
    top: 0;
    z-index: 2;
    width: 100%;
    background: url(./assets/jake-weirick-Q_RBVFFXR_g-unsplash_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.howToPlayDetails span {
    @include fontRokkit();
    font-size: 1.6rem;
}

.links {
    margin-top: 15px;
}

.howToPlayDetails a {
    @include fontRokkit();
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: $headingColor;
    text-decoration: none;
    padding: 5px 1px;
    display: inline;
}

.howToPlayDetails a:hover, .howToPlayDetails a:focus {
    color: $shadowsBorders;
}