header {
    background: url(./assets/jeremy-perkins-FsK54FVNRfM-unsplash_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.headerStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 600px;
    height: 100vh;
    padding-bottom: 50px;
}

.headerText {
    text-align: center;
    background-color: $backgroundTransp;
    padding: 30px 30px 60px;
    border-radius: 20px;
}

.shadow {
    box-shadow: 
        0 0 70px 2rem $shadowsBorders,
        0 0 80px 4rem $borders,
        0 0 100px 5rem $mainText;
    margin: 100px;
    margin-top: 150px;
    padding: 30px;
    border-radius: 20px;
}

header img {
    position: absolute;
    width: 50%;
}

.firstImg {
    top: 0;
    left: -5%;
}

.secondImg {
    bottom: 0;
    right: 0;
}

.start {
    margin-bottom: 10px;
}