// Main Styles
main {
    background: url(./assets/jake-weirick-Q_RBVFFXR_g-unsplash_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 680px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.formsDiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

//Radio buttons and text
form div {
    margin: 15px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

form {
    width: 60%;
    background-color: $mainText;
    padding: 30px 40px 30px;
    border-radius: 20px;
    box-shadow: 
        0 0 30px 1rem $shadowsBorders,
        0 0 50px 2rem $borders,
        0 0 70px 3rem $mainText;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

legend {
    font-size: 3.2rem;
    color: $headingColor;
    font-weight: 800;
    min-height: 130px;
}

label {
    padding: 20px 5px 20px 65px;
    cursor: pointer;
    width: 100%;
    position: relative;
    background-color: $headingColor;
    border-radius: 25px;
    border: 7px solid $borders;
}

// Hide the simple toggle
input[type="radio"] {
    opacity: 0;
    position: absolute;
}

// Make the toggle background
label::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 18px;
    background: $borders;
}

// Make the middle of the toggle
label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $headingColor;
    position: absolute;
    left: 25px;
    top: 28px;
}

// Hover, focus
input[type="radio"]:hover + label::before, input[type="radio"]:focus + label::before {
    background: $mainText;
}

label:hover, label:focus {
    background-color: $borders;
    border: 7px solid $shadowsBorders;
}

// Toggle styles after it's checked
input[type="radio"]:checked + label::after {
    background: $shadowsBorders;
    width: 25px;
    height: 25px;
    left: 22.5px;
    top: 25.8px;
}

input[type="radio"]:checked + label::before {
    background-color: $borders;
}

input[type="radio"]:checked + label {
    background-color: $mainText;
    color: $headingColor;
}

.submit {
    margin-top: 20px;
    padding: 20px 60px;
}

//Progress bar
.time, .mistakeCount {
    width: calc(17% - 60px);
}
.time {
    order: -1;
}

.progress i {
    font-size: 4.5rem;
}

.fa-globe-americas, .fullStar {
    color: $borders;
}

.lastSeconds {
    color: $shadowsBorders;
    border-radius: 50%;
    animation: glowing 1300ms infinite;
}

.lastStar {
    color: $shadowsBorders;
    animation: glowing3 1300ms infinite;
}

.fa-circle, .emptyStar {
    color: $shadowsBorders;
}

.emptyStar, .fullStar {
    padding: 10px;
}

.progress, .stars, .time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer, .stars {
    width: 100%;
}

.mistakes, .timer {
    text-align: center;
}

//Levels page styles

.levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundTransp;
    border-radius: 20px;
    padding: 30px 10px;
}

.levelMessage {
    display: block;
}

.levels p {
    color: $borders;
    font-size: 2.5rem;
    text-align: center;
}

.levelsStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.levelsStyleForms {
    display: flex;
    align-items: center;
    justify-content: center;
}

.levelsMistakes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-height: 170px;
}

.levelsStars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.levelsTime, .levelsMessage {
    display: none;
}

.levels img {
    width: 30%;
    position: absolute;
}

.mistakeCount.levelsMistakes {
    width: 100%;
}

.levels button {
    margin-top: 40px;
}

.doubleImg1 {
    bottom: 0;
    left: 0;
}

.doubleImg {
    right: 0;
    bottom: 0;
}

// Winner page
.winnerPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addAnimationWinner {
    background-color: $mainText;
    padding: 20px 100px;
    border-radius: 20px;
    animation: glowing2 2600ms infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid $shadowsBorders;
    margin: 0 0 70px;
    width: 70%;
}

.winnerPage img {
    width: 28%;
}

.winnerPage img {
    position: absolute;
    animation: flyingEarth 3s linear infinite;
}

.winnerPage button {
    z-index: 1;
}

// Game Over
.gameOver {
    text-align: center;
}

.gameOverImg {
    max-width: 60%;
    margin-top: 20px;
}













