// Main Styles
main {
    background: url(./assets/jake-weirick-Q_RBVFFXR_g-unsplash_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.formsDiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
}

//Radio buttons and text

form div {
    margin: 15px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

form {
    width: 65%;
    // margin-top: 50px;
    background-color: $mainText;
    padding: 30px 40px 20px;
    border-radius: 20px;
    box-shadow: 
        0 0 30px 1rem $shadowsBorders,
        0 0 50px 2rem $borders,
        0 0 70px 3rem $mainText;
    min-height: 600px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

legend {
    font-size: 3.3rem;
    color: $headingColor;
    font-weight: 800;
    min-height: 110px;
}

label {
    padding: 20px 5px 20px 65px;
    cursor: pointer;
    width: 100%;
    position: relative;
    background-color: $headingColor;
    border-radius: 25px;
    border: 7px solid $borders;
}

// Hide the simple toggle
input[type="radio"] {
    opacity: 0;
    position: absolute;
}

// Make the toggle background
label::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 18px;
    background: $borders;
}

// Make the middle of the toggle
label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $headingColor;
    position: absolute;
    left: 25px;
    top: 28px;
}

// Hover, focus

input[type="radio"]:hover + label::before, input[type="radio"]:focus + label::before {
    background: $mainText;
}

label:hover, label:focus {
    background-color: $borders;
    border: 7px solid $shadowsBorders;
}

// Toggle styles after it's checked
input[type="radio"]:checked + label::after {
    background: $shadowsBorders;
    width: 25px;
    height: 25px;
    left: 22.5px;
    top: 25.8px;
}

input[type="radio"]:checked + label::before {
    background-color: $borders;
}

input[type="radio"]:checked + label {
    background-color: $mainText;
    color: $headingColor;
}

//Progress bar

.time, .mistakeCount {
    width: 17%;
}
.time {
    order: -1;
}

.progress i {
    display: block;
    box-shadow: 1px white solid;
}

.progress {
    display: flex;
    flex-direction: column;
}









