// Main Styles

main {
    background: url(./assets/trianglify-lowres2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    padding-bottom: 50px;
}

form div {
    min-height: 100px;
    background: url(./assets/trianglify-lowreslight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0;
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 7px solid #643293;
    width: 80%;
    padding: 30px;
}


// label, input {
//     padding: 50px 0;
//     width: 100%;
//     display: block;

    
// }

// input[type="radio"] {
//     padding: 50px;
//     display: block;
// }

// input {
//     padding: 100px;
// }

// input[type="radio"] {
//     transform: scale(2); 
// }

///////////////////////////

legend {
    font-size: 3.5rem;
}

input[type="radio"] {
    display: none;
}

span {
    display: block;
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    background: $headerColor;
    border: 3px solid $darkText;
    border-radius: 100%;
}

span:hover {
    border-color: $lighterText;
    background-color: $darkBackground;
}

span {
    background: $darkText;
}




