// Media queries
@media (max-width: 1150px) {
    // Header
    h1 {
        font-size: 7.5rem;
        margin-top: -8px;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 2.8rem;
        margin-bottom: 15px;
    }

    .headerText {
        padding: 15px;
    }

    .howToPlayButton {
        margin: -15px -10px 0 0;
    }

    // Main 
    form {
        width: 65%;
        padding: 20px 20px 40px;
    }

    legend {
        font-size: 2.8rem;
        min-height: 120px;
    }

    label {
        font-size: 2.4rem;
    }

    .progress i, .stars i {
        font-size: 4rem;
    }
}

@media (max-width: 770px) {
    // Header
    h1 {
        font-size: 6.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h2 span {
        display: block;
    }

    .start {
        padding: 15px 20px;
    }

    .startButtonDiv {
        justify-content: center;
    }

    .shadow {
        margin: 100px 0 50px;
    }

    // Main 
    form {
        width: 70%;
        padding: 10px 10px 30px;
        box-shadow: 
            0 0 10px 0.5rem $shadowsBorders,
            0 0 30px 1rem $borders,
            0 0 50px 2rem $mainText;
    }

    .time, .mistakeCount {
        width: calc(15% - 25px);
    }

    legend {
        font-size: 2.8rem;
    }

    label::before {
        top: 14px;
    }

    label::after {
        top: 24px;
    }

    input[type="radio"]:checked + label::after {
        top: 22px;
    }

    // Winner page
    .addAnimationWinner {
        width: 100%;
    }
}

@media (max-width: 690px) {
    // Header
    h1 {
        font-size: 6rem;
    }

    // Main
    form {
        width: 100%;
    }

    .submit {
        padding: 15px 60px;
        font-size: 2.8rem;
    }

    .mistakeCount {
        width: 100%;
        order: -2;
    }

    .stars {
        justify-content: center;
        margin-top: -10px;
    }

    form div {
        margin: 10px 0;
    }

    label {
        padding: 10px 5px 10px 65px;
        border: 3px solid $borders;
    }

    label:hover, label:focus {
        border: 3px solid $shadowsBorders;
    }

    label::before {
        width: 30px;
        height: 30px;
        top: 10px;
    }

    label::after {
        top: 20px;
        width: 10px;
        height: 10px;
    }
        
    input[type="radio"]:checked + label::after {
        top: 18px;
        width: 15px;
        height: 15px;
    }

    legend {
        font-size: 2.2rem;
        min-height: 80px;
    }

    .formsDiv {
        flex-direction: column;
        margin-top: 10px;
    }

    .progress, .stars {
        flex-direction: row;
    }

    .time {
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }

    .time i {
        font-size: 3rem;
    }

    .stars i {
        font-size: 4rem;
    }
}

@media (max-width: 580px) {
    // Header 
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .shadow {
        padding: 10px;
        margin: 0;
        margin-top: 50px;
    }

    .headerText {
        padding: 10px;
    }

    header img {
        width: 70%;
    }

    .startButtonDiv {
        margin-top: 30px;
    }

    // Main 
    main {
        min-height: 600px;
    }

    legend {
        min-height: 100px;
    }

    label {
        font-size: 2rem;
    }

    label::before {
        top: 8px;
    }

    label::after {
        top: 18px;
    }
        
    input[type="radio"]:checked + label::after {
        top: 16px;
    }

    .submit {
        padding: 10px 60px;
    }

    // Levels
    h5 {
        font-size: 3.8rem;
    }

    .levels p {
        font-size: 2rem;
    }

    .start2 {
        font-size: 2.5rem;
    }

    .levels img {
        width: 40%;
    }

    form div {
        margin: 5px 0;
    }

    h6 {
        font-size: 2.5rem;
    }

    // Winner 
    .addAnimationWinner {
        font-size: 6.9rem;
    }

    .winnerPage img {
        width: 55%;
    }

    // Game Over 
    .gameOver {
        font-size: 7rem;
    }
}


@media (max-width: 420px) {
    // Header
    header {
        min-height: 500px;
    }
    h1 {
        font-size: 4.5rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }

    header img {
        width: 100%;
    }

    .howToPlayButton i {
        padding: 5px 8px;
    }

    // Main

    legend {
        min-height: 90px;
    }

    .stars i {
        font-size: 2.8rem;
    }

    .time i {
        font-size: 2.5rem;
    }

    // Levels
    h5 {
        font-size: 3rem;
    }

    .levels img {
        width: 45%;
    }
    
    // Game Over 
    .gameOver {
        font-size: 6rem;
    }
}