html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #643293;
    -webkit-box-shadow: 0 0 5px #643293;
            box-shadow: 0 0 5px #643293;
  }
  50% {
    background-color: #f390bc;
    -webkit-box-shadow: 0 0 30px #f390bc;
            box-shadow: 0 0 30px #f390bc;
  }
  100% {
    background-color: #643293;
    -webkit-box-shadow: 0 0 5px #643293;
            box-shadow: 0 0 5px #643293;
  }
}

@keyframes glowing {
  0% {
    background-color: #643293;
    -webkit-box-shadow: 0 0 5px #643293;
            box-shadow: 0 0 5px #643293;
  }
  50% {
    background-color: #f390bc;
    -webkit-box-shadow: 0 0 30px #f390bc;
            box-shadow: 0 0 30px #f390bc;
  }
  100% {
    background-color: #643293;
    -webkit-box-shadow: 0 0 5px #643293;
            box-shadow: 0 0 5px #643293;
  }
}

@-webkit-keyframes glowing2 {
  0% {
    -webkit-box-shadow: 0 0 5px #4fcadb;
            box-shadow: 0 0 5px #4fcadb;
  }
  50% {
    -webkit-box-shadow: 0 0 70px 1rem #f390bc, 0 0 80px 2rem #4fcadb, 0 0 100px 3rem #643293;
            box-shadow: 0 0 70px 1rem #f390bc, 0 0 80px 2rem #4fcadb, 0 0 100px 3rem #643293;
  }
  100% {
    -webkit-box-shadow: 0 0 5px #4fcadb;
            box-shadow: 0 0 5px #4fcadb;
  }
}

@keyframes glowing2 {
  0% {
    -webkit-box-shadow: 0 0 5px #4fcadb;
            box-shadow: 0 0 5px #4fcadb;
  }
  50% {
    -webkit-box-shadow: 0 0 70px 1rem #f390bc, 0 0 80px 2rem #4fcadb, 0 0 100px 3rem #643293;
            box-shadow: 0 0 70px 1rem #f390bc, 0 0 80px 2rem #4fcadb, 0 0 100px 3rem #643293;
  }
  100% {
    -webkit-box-shadow: 0 0 5px #4fcadb;
            box-shadow: 0 0 5px #4fcadb;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nova Square', cursive;
  color: #643293;
  font-size: 2.8rem;
  line-height: 1.3;
}

.wrapper {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

button {
  font-family: 'Rokkitt', serif;
  font-size: 3.5rem;
  color: #fdfefa;
  background-color: #643293;
  padding: 20px 30px;
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  -webkit-animation: glowing 1300ms infinite;
          animation: glowing 1300ms infinite;
  border: 2px #4fcadb solid;
  cursor: pointer;
}

button:hover, button:focus {
  border: 2px #fdfefa solid;
  text-decoration: underline;
  -webkit-text-decoration-color: #4fcadb;
          text-decoration-color: #4fcadb;
  text-underline-offset: 5px;
  text-decoration-thickness: 5px;
  -webkit-animation: glowing2 1300ms infinite;
          animation: glowing2 1300ms infinite;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  color: #fdfefa;
  font-size: 10rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  z-index: 2;
}

h2 {
  color: #fdfefa;
  font-size: 3.5rem;
}

h3 {
  font-size: 10rem;
  color: #f390bc;
  text-transform: uppercase;
}

h1, h3, h4, h5, h6, h7 {
  font-family: 'Rokkitt', serif;
  color: #fdfefa;
}

h4 {
  font-size: 2.2rem;
}

h5, h6 {
  text-align: center;
}

h5 {
  font-size: 5rem;
  text-transform: uppercase;
}

h6 {
  font-size: 3.5rem;
}

h7 {
  font-size: 4rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hideSubmit {
  visibility: hidden;
}

.showSubmit {
  visibility: visible;
}

main {
  background: url(./assets/jake-weirick-Q_RBVFFXR_g-unsplash_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 680px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.formsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

form div {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

form {
  width: 60%;
  background-color: #643293;
  padding: 30px 40px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 30px 1rem #f390bc, 0 0 50px 2rem #4fcadb, 0 0 70px 3rem #643293;
          box-shadow: 0 0 30px 1rem #f390bc, 0 0 50px 2rem #4fcadb, 0 0 70px 3rem #643293;
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

legend {
  font-size: 3.2rem;
  color: #fdfefa;
  font-weight: 800;
  min-height: 130px;
}

label {
  padding: 20px 5px 20px 65px;
  cursor: pointer;
  width: 100%;
  position: relative;
  background-color: #fdfefa;
  border-radius: 25px;
  border: 7px solid #4fcadb;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

label::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 18px;
  background: #4fcadb;
}

label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fdfefa;
  position: absolute;
  left: 25px;
  top: 28px;
}

input[type="radio"]:hover + label::before, input[type="radio"]:focus + label::before {
  background: #643293;
}

label:hover, label:focus {
  background-color: #4fcadb;
  border: 7px solid #f390bc;
}

input[type="radio"]:checked + label::after {
  background: #f390bc;
  width: 25px;
  height: 25px;
  left: 22.5px;
  top: 25.8px;
}

input[type="radio"]:checked + label::before {
  background-color: #4fcadb;
}

input[type="radio"]:checked + label {
  background-color: #643293;
  color: #fdfefa;
}

.submit {
  margin-top: 20px;
  padding: 20px 60px;
}

.time, .mistakeCount {
  width: calc(17% - 60px);
}

.time {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.progress i {
  font-size: 4.5rem;
}

.fa-globe-americas, .fullStar {
  color: #4fcadb;
}

.fa-circle, .emptyStar {
  color: #f390bc;
}

.emptyStar, .fullStar {
  padding: 10px;
}

.progress, .stars, .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer, .stars {
  width: 100%;
}

.mistakes, .timer {
  text-align: center;
}

.levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(100, 50, 147, 0.65);
  border-radius: 20px;
  padding: 30px 10px;
}

.levelMessage {
  display: block;
}

.levels p {
  color: #4fcadb;
  font-size: 2.5rem;
  text-align: center;
}

.levelsStyles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.levelsStyleForms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.levelsMistakes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  min-height: 170px;
}

.levelsStars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.levelsTime, .levelsMessage {
  display: none;
}

.levels img {
  width: 30%;
  position: absolute;
}

.mistakeCount.levelsMistakes {
  width: 100%;
}

.levels button {
  margin-top: 40px;
}

.doubleImg1 {
  bottom: 0;
  left: 0;
}

.doubleImg {
  right: 0;
  bottom: 0;
}

.winnerPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addAnimationWinner {
  background-color: #643293;
  padding: 20px 100px;
  border-radius: 20px;
  -webkit-animation: glowing2 2600ms infinite;
          animation: glowing2 2600ms infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #f390bc;
  margin: 100px 0 70px;
  width: 70%;
}

.winnerPage img {
  width: 28%;
}

.gameOver {
  text-align: center;
}

header {
  background: url(./assets/jeremy-perkins-FsK54FVNRfM-unsplash_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.headerStyles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 640px;
  height: 100vh;
  padding-bottom: 100px;
}

.headerText {
  text-align: center;
  background-color: rgba(100, 50, 147, 0.65);
  padding: 5px 30px 60px;
  border-radius: 20px;
}

.shadow {
  margin: 190px 0 100px;
  padding: 30px;
  border-radius: 20px;
  -webkit-animation: glowing2 2600ms infinite;
          animation: glowing2 2600ms infinite;
}

header img {
  position: absolute;
  width: 50%;
  z-index: 1;
}

.firstImg {
  top: 0;
  left: -5%;
}

.secondImg {
  bottom: 0;
  right: 0;
}

.start {
  margin-bottom: 10px;
}

.startButtonDiv {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

.howToPlay {
  text-align: right;
}

.howToPlayButton {
  margin-right: -25px;
  margin-bottom: -15px;
  padding: 0;
}

.howToPlayButton i, .close i {
  padding: 5px 20px;
}

.close {
  display: block;
  padding: 0;
  margin-right: -40px;
}

.howToPlayDetails {
  display: none;
  position: absolute;
  background-color: #643293;
  color: #fdfefa;
  font-size: 1.8rem;
  padding: 10px 50px 20px;
  border-radius: 20px;
  border: 5px solid #4fcadb;
  z-index: 3;
  text-align: left;
  min-width: 350px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.closeButtonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.howToPlayDetailsShow {
  display: block;
}

.blockView {
  position: absolute;
  height: 100vh;
  min-height: 640px;
  top: 0;
  z-index: 2;
  background-color: rgba(79, 202, 219, 0.65);
  width: 100%;
}

.howToPlayDetails span {
  font-family: 'Rokkitt', serif;
  font-size: 1.6rem;
}

.links {
  margin-top: 15px;
}

.howToPlayDetails a {
  font-family: 'Rokkitt', serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #fdfefa;
  text-decoration: none;
  padding: 5px 1px;
  display: inline;
}

.howToPlayDetails a:hover, .howToPlayDetails a:focus {
  color: #f390bc;
}

@media (max-width: 1150px) {
  h1 {
    font-size: 7.5rem;
    margin-top: -8px;
    margin-bottom: 12px;
  }
  h2 {
    font-size: 2.8rem;
    margin-bottom: 15px;
  }
  .headerText {
    padding: 15px;
  }
  .howToPlayButton {
    margin: -15px -10px 0 0;
  }
  form {
    width: 65%;
    padding: 20px 20px 40px;
  }
  legend {
    font-size: 2.8rem;
    min-height: 120px;
  }
  label {
    font-size: 2.4rem;
  }
  .progress i, .stars i {
    font-size: 4rem;
  }
}

@media (max-width: 770px) {
  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h2 span {
    display: block;
  }
  .start {
    padding: 15px 20px;
  }
  .startButtonDiv {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shadow {
    margin: 100px 0 50px;
  }
  form {
    width: 70%;
    padding: 10px 10px 30px;
    -webkit-box-shadow: 0 0 10px 0.5rem #f390bc, 0 0 30px 1rem #4fcadb, 0 0 50px 2rem #643293;
            box-shadow: 0 0 10px 0.5rem #f390bc, 0 0 30px 1rem #4fcadb, 0 0 50px 2rem #643293;
  }
  .time, .mistakeCount {
    width: calc(15% - 25px);
  }
  legend {
    font-size: 2.8rem;
  }
  label::before {
    top: 14px;
  }
  label::after {
    top: 24px;
  }
  input[type="radio"]:checked + label::after {
    top: 22px;
  }
  .addAnimationWinner {
    width: 100%;
  }
}

@media (max-width: 690px) {
  h1 {
    font-size: 6rem;
  }
  form {
    width: 100%;
  }
  .submit {
    padding: 15px 60px;
    font-size: 2.8rem;
  }
  .mistakeCount {
    width: 100%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .stars {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -10px;
  }
  form div {
    margin: 10px 0;
  }
  label {
    padding: 10px 5px 10px 65px;
    border: 3px solid #4fcadb;
  }
  label:hover, label:focus {
    border: 3px solid #f390bc;
  }
  label::before {
    width: 30px;
    height: 30px;
    top: 10px;
  }
  label::after {
    top: 20px;
    width: 10px;
    height: 10px;
  }
  input[type="radio"]:checked + label::after {
    top: 18px;
    width: 15px;
    height: 15px;
  }
  legend {
    font-size: 2.2rem;
    min-height: 80px;
  }
  .formsDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .progress, .stars {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .time {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .time i {
    font-size: 3rem;
  }
  .stars i {
    font-size: 4rem;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .shadow {
    padding: 10px;
    margin: 0;
    margin-top: 50px;
  }
  .headerText {
    padding: 10px;
  }
  header img {
    width: 70%;
  }
  .startButtonDiv {
    margin-top: 30px;
  }
  main {
    min-height: 600px;
  }
  legend {
    min-height: 100px;
  }
  label {
    font-size: 2rem;
  }
  label::before {
    top: 8px;
  }
  label::after {
    top: 18px;
  }
  input[type="radio"]:checked + label::after {
    top: 16px;
  }
  .submit {
    padding: 10px 60px;
  }
  h5 {
    font-size: 3.8rem;
  }
  .levels p {
    font-size: 2rem;
  }
  .start2 {
    font-size: 2.5rem;
  }
  .levels img {
    width: 40%;
  }
  form div {
    margin: 5px 0;
  }
  h6 {
    font-size: 2.5rem;
  }
  .addAnimationWinner {
    font-size: 6.9rem;
  }
  .winnerPage img {
    width: 55%;
  }
  .gameOver {
    font-size: 7rem;
  }
}

@media (max-width: 420px) {
  header {
    min-height: 500px;
  }
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  header img {
    width: 100%;
  }
  .howToPlayButton i {
    padding: 5px 8px;
  }
  legend {
    min-height: 90px;
  }
  .stars i {
    font-size: 2.8rem;
  }
  .time i {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 3rem;
  }
  .levels img {
    width: 45%;
  }
  .gameOver {
    font-size: 6rem;
  }
}
